av
black
colorama
coremltools
coverage
decord
docutils
fairscale
fairseq
ftfy
fvcore
librosa
matplotlib
numba
numpy
omegaconf
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
paramiko
Pillow
Pillow-SIMD
psutil
pyarrow
pybase64
pycocotools
pycodestyle
pyflakes
pytest
pytorchvideo
safetensors
scikit-learn
scipy
segmentation-models-pytorch
Sphinx
sphinx-rtd-theme
tensorboard
tensorboard-logger
tensorboardX
timm
torchaudio
torchdata
torchmetrics
torchtext
tqdm
transformers
ujson

